<div class="row">
    <div class="col-sm-3">
        <div class="card w3-animate-zoom">
            <img class="card-img-top" src="Images/step1.jpg" alt="Card image" class="img-responsive">
            <div class="card-body">
                <h4 class="card-title"><b>Physical Examination</b></h4>
                <p class="card-text">Initial steps of skin scrappings and other medical procedures.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#step1">View more</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card w3-animate-zoom">
            <img class="card-img-top" src="Images/step2.jpg" alt="Card image" class="img-responsive">
            <div class="card-body">
                <h4 class="card-title"><b>Image Capturing</b></h4>
                <p class="card-text">Microscopic observation and image capturing of the specimens.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#step2">View more</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card w3-animate-zoom">
            <img class="card-img-top" src="Images/step3.jpg" alt="Card image" class="img-responsive">
            <div class="card-body">
                <h4 class="card-title"><b>Image Processing</b></h4>
                <p class="card-text">Uploading the captured image to the algorithm for detection.</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#step3">Upload Image</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card w3-animate-zoom">
            <img class="card-img-top" src="Images/step4.jpg" alt="Card image" class="img-responsive">
            <div class="card-body">
                <h4 class="card-title"><b>View Report</b></h4>
                <p class="card-text">Report of the diagnosis performed by the algorithm for the specimen</p>
                <a href="#" class="btn btn-primary disabled">View report</a>
            </div>
        </div>
    </div>
</div>
